h1{
    color:green;
    text-align: center;
}
.center{
    border: 2px solid black;
    height: 100px;
    width: 100%;
    text-align: center;
}
.left{
    border: 2px solid black;
    height: 100px;
    width: 100%;
    text-align:left;
}
.right{
    border: 2px solid black;
    height: 100px;
    width: 100%;
    text-align: right;
}